@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

strong {
  color: black;
}

h1, h2 {
  margin: 0;
  padding: 0.5rem;
}

h3, h4, h5, h6, strong {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
}


@media (max-width: 1024px) and (min-width: 768px) {
  .accueil {
    height: auto;
    padding: 1rem;
  }
}

.accueil {
  position: relative;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.accueil::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1; 
}

.accueil-content {
  position: relative;
  z-index: 2;
}

.btn-apropos {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-apropos:hover {
  background-color: #0056b3;
}

.apropos-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}

.apropos-title::after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background-color: #007bff;
  margin: 0.5rem auto 1rem;
}

.apropos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f8f9fa;
}

.apropos-window {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 900px;
  width: 100%;
}

.apropos-content {
  display: flex;
  flex-direction: row;
}

.apropos-text {
  flex: 1;
  padding-right: 2rem;
}

.apropos-text h1 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.apropos-text p {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
}

.apropos-skills {
  flex: 1;
  text-align: center;
}

.apropos-image {
  max-width: 100%;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.progress-bars h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.skill {
  margin-bottom: 1rem;
}

.skill span {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.progress-bar {
  height: 20px;
  border-radius: 5px;
}

.html-bar .progress-bar {
  background-color: #e01802;
}

.css-bar .progress-bar {
  background-color: #00cefc;
}

.javascript-bar .progress-bar {
  background-color: #f1c40f;
}

.php-bar .progress-bar {
  background-color: #00702f;
}

.react-bar .progress-bar {
  background-color: #007bff;
}

.progress {
  background-color: #e0e0e0;
}

.underheader-image {
  width: 100%;
  height: 200px; 
  background-image: url('../images/technologywaves.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; 
  padding: 0;
}

.services-page body {
    font-family: Arial, sans-serif;
    background-color: #0056b3;
  }
  
  .services-description h1 {
    margin-top: 5%;
  }
  
  .services-description {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .services-description p {
    font-size: 1.1rem;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    margin-bottom: 10%;
  }
  
  .services-description p::after {
    content: '';
    display: block;
    width: 235px;
    height: 3px;
    background-color: #007bff;
    margin: 0.5rem auto 1rem;
    margin-top: 2%;
  }
  
  .services-list {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
  }
  
  .service-card {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 200px;
    text-align: center;
  }
  
  .service-card .icon {
    height: 30%;
    width: 30%;
    margin: 5%;
  }
  
  .service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .service-card p {
    font-size: 1rem;
    color: #444;
    line-height: 1.5;
  }
  
  .services-contact {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 3rem;
    margin-top: 3rem;
    border-radius: 8px;
  }
  
  .services-contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .services-contact p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  
  @media (max-width: 768px) {
    .services-list {
      flex-direction: column;
      align-items: center;
    }
  
    .service-card {
      width: 90%; 
      margin-bottom: 2rem;
    }
  }  


  .realisations-container {
    padding: 2rem;
    text-align: center;
  }
  
  .realisations-container strong::after {
    content: '';
    display: block;
    width: 200px; 
    height: 4px;
    background-color: #007bff; 
    margin: 0.5rem auto 1rem; 
    margin-top: 2%;
  }
  
  .realisations-grid {
    margin-top: 7%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 0 1rem;
  }
  
  .realisations-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .realisations-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .realisations-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .realisations-card h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000000;
  }
  
  .realisations-card p {
    font-size: 0.9rem;
    color: #000000;
    padding: 2%;
  }
  
  .realisations-card .btn-primary {
    background-color: #ffffff;
    border-color: #0d6efd;
    color: #0d6efd;
    transition: background-color 0.3s ease;
  }
  
  .realisations.-card .btn-primary:hover {
    background-color: #0056b3;
  }
  
.under-button {
    margin-top: 20px;
    border-color: black;
    background-color: #EEE;
  }

.blog-container {
    padding: 2rem;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .blog-container p strong::after {
    content: '';
    display: block;
    width: 200px;
    height: 3px;
    background-color: #007bff;
    margin: 0.5rem auto 1rem;
  }
  
  .blog-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .blog-grid {
    display: flex;
    flex-wrap: wrap; 
    gap: 1.5rem; 
    justify-content: space-between; 
  }
  
  .blog-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 1.5rem); 
    max-width: calc(33.333% - 1.5rem); 
    display: flex;
    flex-direction: column; 
    padding: 1rem; 
    box-sizing: border-box; 
  }
  
  .blog-card h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .blog-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #555;
  }
  
  .blog-card-button {
    padding: 1%;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .blog-card-button:hover {
    background-color: #0056b3;
    color: white;
  }
  
  .date-publication {
    background-color: #f0f0f0; 
    color: #333; 
    font-size: 0.9rem; 
    text-align: start; 
    padding: 0.75rem 0; 
    margin-top: 3%;
    border-top: 1px solid #ddd; 
    border-radius: 0 0 8px 8px; 
    width: 100%; 
    bottom: 0; 
    left: 0; 
  }
  
  @media (max-width: 768px) {
    .blog-grid {
      flex-direction: column; 
      gap: 1rem; 
    }
  
    .blog-card {
      max-width: 100%; 
      flex: none; 
    }
  
    .blog-card img {
      width: 100%; 
      height: auto; 
    }
  }
  
  .blog-card h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .blog-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #555;
  }
  
  .blog-card-button {
    padding: 2%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .blog-card-button:hover {
    background-color: #0056b3;
    color: white;
  }
  
  .date-publication {
    background-color: #f0f0f0; 
    color: #333; 
    font-size: 0.9rem; 
    text-align: start; 
    padding: 0.75rem 0; 
    margin-top: 3%;
    border-top: 1px solid #ddd; 
    border-radius: 0 0 8px 8px; 
    width: 100%; 
    bottom: 0; 
    left: 0; 
  }
  

  .contact-page {
    background-image: url('../images/keyboard.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  
  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    margin: 0 auto; 
  }
  
  .contact-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 105, 255, 0.5); 
    z-index: 1;
  }
  
  .contact-button {
    padding: 1rem 2rem;
    background-color: #fff;
    color: #007bff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-button:hover {
    background-color: #0056b3;
    color: white;
  }